.nav {
    background-color: cadetblue;
    font-size: large;
}
.hero {


}
.heroImage {
    height: 400px;
    object-fit: cover;
    width: 100%;
}
a{
    color: floralwhite;
}

.g-one{
    background-color: lightgoldenrodyellow;
    width: 40%;
}
.g-two{
    background-color: lightskyblue;
    width: 30%;
}
.g-three{
    background-color: #f5c6cb;
    width: 30%;
}
.container {
    width: 80%;
    display: flex;
}
.libraryContainer {
    width: 90%;
    display: flex;
    margin: auto;
}
.list-group-item {
    width: auto;
}
.list-group {
    width: 100%;
    display: flex;
}
h1 {
    text-align: center;
}
.addTitle {
    font-weight: bold;
    color: indigo;
}