.nav {
    background-color: cadetblue;
    font-size: large;
}

.heroImage {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

a {
    color: floralwhite;
}

.g-one {
    background-color: lightgoldenrodyellow;
    width: 40%;
}

.g-two {
    background-color: lightskyblue;
    width: 30%;
}

.g-three {
    background-color: #f5c6cb;
    width: 30%;
}

.container {
    width: 80%;
    display: flex;
}

.libraryContainer {
    width: 90%;
    display: flex;
    margin: auto;
}

.list-group-item {
    width: 33%;
}

.list-group {
    width: 100%;
    display: flex;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
    color: indigo;
}

.manTitle {
    width: 100%;
    text-align: center;
    color: rebeccapurple;
}

.authorList {
    margin-left: 40px;
    padding-left: 60px;
    color: indigo;
}
.resultContainer{
    width: 100%;
    margin: 20px 40px 20px 0;
}