.nav {
    background-color: cadetblue;
    font-size: large;
}

.heroImage {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

a {
    color: floralwhite;
}

.g-one {
    /*background-color: rosybrown;*/
    width: 40%;
}

.g-two {
    /*background-color: wheat;*/
    width: 30%;
}

.g-three {
    /*background-color: #a0a98f;*/
    width: 30%;
}

.container {
    width: 90%;
    display: flex;
}

.libraryContainer {
    width: 90%;
    display: flex;
    margin: auto;
}

.list-group-item {
    /*width: 33%;*/
}

.list-group {
    width: 100%;
    display: flex;
}

h1 {
    text-align: center;
    color: rebeccapurple;
}

label {
    font-weight: bold;
    color: indigo;
}

.manTitle {
    width: 100%;
    text-align: center;
    color: rebeccapurple;
}

/*.authorList {*/
/*    margin: 40px;*/
/*    padding: 60px;*/
/*    width: 70%*/
/*}*/
.resultContainer{
    width: 100%;
    margin: 20px 40px 20px 0;
}
.title {
    font-weight: bold;
    text-align: center;
    background-color:rgba(0,0,0,.03);
}
.sub {
    background-color: mediumpurple;
}
results-list{
width: 70%;
}